<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlogAppCoreData.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0FC0B9C24FEFFCA008AF118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FC0BB224FEFFCC008AF118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FC0BBD24FEFFCC008AF118</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
